<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <form action="/api/users/resetpassword/{{id}}/{{token}}" method="POST">

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
          />
          <label class="form-label" for="password">Contraseña</label>
        </div>

        <input
          class="btn btn-primary btn-block mb-4"
          id=""
          type="submit"
          value="Reiniciar"
        />
      </form>
    </div>
  </div>
</div>